<html>
    <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets\\animate.min.css">
    <link rel="stylesheet" href="stylesheets\\message.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="javascripts\\message.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

        <title>Message</title>
    </head>
    <script>
        
        //const random_name = prompt("your name?");
        function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1) + min);
    }
     var random_names = ['alex jones','hema','joe rogan','dugi dinsaour','fugi'];
     var random_name = random_names[getRandomInt(0,random_names.length)];

     
    </script>
    <body>
        <div class="mobile container-fluid message-grid">
            <div class="top">
                <h1>Messages</h1>
                <img src="images/web-design/girl2.jpeg" class="top-pic">
                
                <div class="bottom-line"></div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col profile-pic">
                            <img class="user-pic" src="images/web-design/girl2.jpeg"/>
                        </div>
                        <div class="col creds">
                            <span class="user-name">John Doe</span>
                            <i id="loc-icn" class="fas fa-map-marker-alt"></i>
                            
                            <span class="location">Erbil</span>
                            <br>
                            <span class="msg">hey there this is urgent please....</span>
                            <div class="row">
                                <span class="date">23/2/2020</span>
                            </div>
                         </div>

                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="row">
                        <div class="col profile-pic">
                            <img class="user-pic" src="images/web-design/girl2.jpeg"/>
                        </div>
                        <div class="col creds">
                            <span class="user-name">John Doe</span>
                            <i id="loc-icn" class="fas fa-map-marker-alt"></i>
                            
                            <span class="location">Erbil</span>
                            <br>
                            <span class="msg">hey there this is urgent please....</span>
                            <div class="row">
                                <span class="date">23/2/2020</span>
                            </div>
                         </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col profile-pic">
                            <img class="user-pic" src="images/web-design/girl2.jpeg"/>
                        </div>
                        <div class="col creds">
                            <span class="user-name">John Doe</span>
                            <i id="loc-icn" class="fas fa-map-marker-alt"></i>
                            
                            <span class="location">Erbil</span>
                            <br>
                            <span class="msg">hey there this is urgent please....</span>
                            <div class="row">
                                <span class="date">23/2/2020</span>
                            </div>
                         </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col profile-pic">
                            <img class="user-pic" src="images/web-design/girl2.jpeg"/>
                        </div>
                        <div class="col creds">
                            <span class="user-name">John Doe</span>
                            <i id="loc-icn" class="fas fa-map-marker-alt"></i>
                            
                            <span class="location">Erbil</span>
                            <br>
                            <span class="msg">hey there this is urgent please....</span>
                            <div class="row">
                                <span class="date">23/2/2020</span>
                            </div>
                         </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col profile-pic">
                            <img class="user-pic" src="images/web-design/girl2.jpeg"/>
                        </div>
                        <div class="col creds">
                            <span class="user-name">John Doe</span>
                            <i id="loc-icn" class="fas fa-map-marker-alt"></i>
                            
                            <span class="location">Erbil</span>
                            <br>
                            <span class="msg">hey there this is urgent please....</span>
                            <div class="row">
                                <span class="date">23/2/2020</span>
                            </div>
                         </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="chat">
            <div class="topBar">
                <div class="row ">
                    <div class="col pic">
                        <img src="images/web-design/girl2.jpeg" >
                    </div>
                    <div class="col name">
                        <span class="name">John Doe</span>
                    </div>
                    <div class="col active">
                        <i class="active fas fa-circle"></i>
                    </div>
                    

                </div>
            </div>
            <div class="message-section">
                <div class="row" id="msgs">

                    
                        <div class="row left">
                        <div class="col pic">
                            <img src="images/web-design/girl2.jpeg" >
                        </div>
                        <div class="col message">
                            <span>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, sint vero distinctio, ratione nobis quod libero iure
                            </span>
                        </div>
                    </div>
                    <div class="row right">
                        
                        <div class="col message">
                            <span>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, sint vero distinctio, ratione nobis quod libero iure
                            </span>
                        </div>
                    </div>
                    <div class="row left">
                        <div class="col pic">
                            <img src="images/web-design/girl2.jpeg" >
                        </div>
                        <div class="col message">
                            <span>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, sint vero distinctio, ratione nobis quod libero iure
                            </span>
                        </div>
                    </div>
                    <div class="row left">
                        <div class="col pic">
                            <img src="images/web-design/girl2.jpeg" >
                        </div>
                        <div class="col message">
                            <span>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, sint vero distinctio, ratione nobis quod libero iure
                            </span>
                        </div>
                    </div>
                    
                    
                    

                </div>
                
            </div>
            <div class="bottomBar">
                <form>
                    <div class="form-group">
                        <input autocomplete="off" placeholder="type message" id="messInput"  name="message" type="text" class="form-control">
                        <button type="submit" id="sendMSG" class="btn btn-danger">Send</button>
                    </div>
                    
                </form>
            </div>


        </div>

        <div class="menu">
            <h1>Connected users</h1>
            <span>click on the name to chat</span>
            <ul class="connected-list">
                
            </ul>

        </div>
        

        </div>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
    var socket = io('http://'+window.location.hostname+':100');
    </script>

</html>